{% extends "base.html" %}


{% block title %}The 404 page{% endblock title %}
{% block body %}
<h1> Horray, you found the 404 page! </h1>
<br>
<br>
<h3> JZCGOZ2ONJKWOTT2JFTU42SVM5GWUY3HJZ5E2Z2NNJAWOTTKIVTU22SBM5HGUWLHJZWU2Z2ONJCWOTTKMNTU22SBM5HGU23HJZVFSZ2NNJAWOTT2NNTU43KZM5HHUVLHJVVECZ2OPJRWOTTKIVTU43KVM5HHUULHJUZEKZ2NNJAWOTTKLFTU43KNM5HGURLHJZVGGZ2OGJEWOTSHJFTU42SRM5HEORLHJZVGWZ2OI5KWOTSHJFTU4RCZM5HHUQLHJZ5GWZ2OI5EWOTTKKFTU26TLM5HFIVLHJZWUSZ2ONJGWOTTKM5TU42SZM5HG2ULHJZVFSZ2OIRVWOTSUKFTU46SRM5GXUULHJZCGWZ2ONJIWOTSEKFTU4R2ZM5GXUULHJZDVKZ2ONVIWOTSEJVTU4VDHM5HDEUJ5 </h3>
{% endblock body %}