version: "3.8"

services:
  redis:
    image: redis:7
    container_name: redis
    restart: always
    volumes:
      - redis_data:/data
    networks:
      - homelab_test

volumes:
  redis_data:

networks:
  homelab_test:
    external: true