version: "3.8"

services:
  db:
    image: postgres:16
    container_name: Server_DB
    restart: always
    env_file:
      - ./.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d
    networks:
      - homelab_test

volumes:
  postgres_data:

networks:
  homelab_test:
    external: true